# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.github/

.env
node_modules
dist
dist-ssr
*.local

# .github/

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/https://drive.google.com/file/d/1IRwqkZLcQ5z2jsaofaE-AAvKDHCUNvDU/view?usp=sharing